/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/target/
Aurinkokuntasimulaattori/target
/laskarit/viikko2/Unicafe/nbproject/